{% extends 'base.html.twig' %}

{% block title %}Resident{% endblock %}

{% block body %}
    <h1>Resident</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resident.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ resident.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ resident.lastname }}</td>
            </tr>
            <tr>
                <th>DailyComsumption</th>
                <td>{{ resident.dailyComsumption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resident_index') }}">back to list</a>

    <a href="{{ path('app_resident_edit', {'id': resident.id}) }}">edit</a>

    {{ include('resident/_delete_form.html.twig') }}
{% endblock %}
